<template>
  <q-page class="GamePage">
    <div name="tab level-select-tab"
         class="level-select-tab"
         v-show="this.tab === 'level-select-tab'">
      <div class="row title-row">
        <span class="title-label">選擇難度</span>
      </div>
      <div class="row">
        <q-btn class="level-btn"
               color="positive"
               text-color="white"
               label="😊 熱身"
               @click="startGame('easy')" />
      </div>
      <div class="row">
        <q-btn class="level-btn"
               color="warning"
               text-color="white"
               label="🤔 普通"
               @click="startGame('normal')" />
      </div>
      <div class="row">
        <q-btn class="level-btn"
               color="negative"
               text-color="white"
               label="👿 挑戰"
               @click="startGame('hard')" />
      </div>
      <div class="row">
        <q-btn class="go-back-btn"
               color="primary"
               icon="arrow_back"
               label="返回主頁"
               @click="goBack" />
      </div>
    </div>

    <div name="tab gaming-tab"
         class="gaming-tab"
         v-show="this.tab === 'gaming-tab'">
      <div class="row">
        <div class="col">
          <span class="hp-shower">
            <q-icon name="favorite" /> {{gameStatus.hp}}
          </span>
        </div>
        <div class="col">
          <span class="time-shower">
            <q-icon name="timer" /> {{gameStatus.time}}s
          </span>
        </div>
      </div>
      <div class="row">
        <span class="question-shower">Q{{this.gameStatus.currentQuestionIndex + 1}} : {{this.gameStatus.questions[this.gameStatus.currentQuestionIndex].firstNum}} X {{this.gameStatus.questions[this.gameStatus.currentQuestionIndex].secondNum}} = ?</span>
      </div>
      <div class="row">
        <q-btn class="choice-btn"
               color="positive"
               text-color="white"
               :label="gameStatus.questions[this.gameStatus.currentQuestionIndex].choices[0]"
               @click="submitChoice(gameStatus.questions[gameStatus.currentQuestionIndex].choices[0])" />
      </div>
      <div class="row">
        <q-btn class="choice-btn"
               color="positive"
               text-color="white"
               :label="gameStatus.questions[this.gameStatus.currentQuestionIndex].choices[1]"
               @click="submitChoice(gameStatus.questions[gameStatus.currentQuestionIndex].choices[1])" />
      </div>
      <div class="row">
        <q-btn class="choice-btn"
               color="positive"
               text-color="white"
               :label="gameStatus.questions[this.gameStatus.currentQuestionIndex].choices[2]"
               @click="submitChoice(gameStatus.questions[gameStatus.currentQuestionIndex].choices[2])" />
      </div>
      <div class="row">
        <q-btn class="choice-btn"
               color="positive"
               text-color="white"
               :label="gameStatus.questions[this.gameStatus.currentQuestionIndex].choices[3]"
               @click="submitChoice(gameStatus.questions[gameStatus.currentQuestionIndex].choices[3])" />
      </div>
    </div>

    <div name="tab result-tab"
         class="result-tab"
         :class="{'green-text': this.gameStatus.isPass, 'red-text': !this.gameStatus.isPass}"
         v-show="this.tab === 'result-tab'">
      <div class="row">
        <span class="title-label"
              :class="{'green-text': this.gameStatus.isPass, 'red-text': !this.gameStatus.isPass}">{{this.resultText}}</span>
      </div>
      <div class="row">
        <span class="title-label">分數：{{this.gameStatus.score}}</span>
      </div>
      <div class="row">
        <q-btn class="goBackBtn"
               color="primary"
               icon="arrow_back"
               label="返回主頁"
               @click="goBack" />
      </div>
      <div :v-if="this.gameStatus.gameoverReason.current === null">
        <div class="row answer-row"
             :class="{'green-text': (question.isFinished && question.isCorrect), 'red-text': (question.isFinished && !question.isCorrect), 'grey-text': !question.isFinished}"
             v-for="(question, i) in this.gameStatus.questions"
             :key="i">
          <div class="col-4 marking-col">
            <q-icon :name="question.isFinished ? (question.isCorrect ? 'done' : 'clear'): 'remove'" />
          </div>
          <div class="col-8">
            <span class="answer-span">
              {{question.firstNum}} X {{question.secondNum}} = {{question.firstNum * question.secondNum}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<style lang="sass" scoped>
.GamePage
  background: url("../statics/images/wallpapers/math-wallpaper.jpg")

.gaming-tab
  height: 100vh
  background-color: rgba(255, 255, 255, 0.3)

.tab
  width: 100vw
  height: calc(100vh - 50px)
.level-select-tab
  display: flex
  flex-direction: column
  justify-content: space-evenly
.row
  justify-content: center
.title-.row
  width: 100vw
.title-label
  width: 100%
  font-size: 3.5rem
  font-weight: bold
  text-align: center
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
.level-btn, .go-back-btn
  width: 50%
  font-size: 1.5rem
  margin-bottom: 20px
  display: inline-flex
  align-items: center
  justify-content: center
.hp-shower, .time-shower
  font-size: 3rem
  display: inline-flex
  align-items: center
  width: 100%
  justify-content: center
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
.hp-shower
  color: $red-12
.time-shower
  color: $blue-12
.question-shower
  font-size: 3rem
  font-weight: 500
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
@media (max-width: 768px)
  .question-shower
    font-size: 2rem
.choice-btn
  width: 50%
  font-size: 1.5rem
  margin-bottom: 20px
.answer-row
  font-size: 2rem
  background-color: rgba(255, 255, 255, 0.8)
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
.marking-col
  text-align: center
.answer-span
  text-align: center
.green-text
  color: #56ba46
.red-text
  color: #c22c28
.grey-text
  color: grey
</style>

<script>
export default {
  name: "GamePage",
  data() {
    return {
      tab: "level-select-tab",
      resultText: "",
      gameStatus: {
        level: "easy",
        score: 0,
        isPass: false,
        hp: 3,
        timer: null,
        time: 180,
        levelSetting: {
          easy: {
            range: {
              firstNum: [1, 10],
              secondNum: [1, 10]
            }
          },
          normal: {
            range: {
              firstNum: [10, 99],
              secondNum: [1, 10]
            }
          },
          hard: {
            range: {
              firstNum: [10, 99],
              secondNum: [10, 99]
            }
          }
        },
        currentQuestionIndex: 0,
        questions: [
          {
            firstNum: 0,
            secondNum: 0,
            choices: [0, 0, 0, 0],
            isFinished: false,
            isCorrect: false
          }
        ],
        gameoverReason: {
          finished: 0,
          noHP: 1,
          timeOver: 2,
          current: null
        }
      }
    };
  },
  computed: {
    answerStatusIcon(questionIndex) {
      console.log("in answer status icon");
      if (this.gameStatus.questions[questionIndex].isFinished) {
        if (this.gameStatus.questions[questionIndex].isCorrect) {
          return "done";
        } else {
          return "clear";
        }
      } else {
        return "access_time";
      }
    }
  },
  methods: {
    playClickSound() {
      window.navigator.vibrate(50);
      new Audio("../statics/sounds/button_click.mp3").play();
    },
    goBack() {
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push("/");
    },
    showTab(tabName) {
      this.tab = tabName;
    },
    generateQuestions() {
      this.gameStatus.questions = [];
      for (let i = 0; i < 10; i++) {
        const question = {
          firstNum: 0,
          secondNum: 0,
          choices: [0, 0, 0, 0],
          isFinished: false,
          isCorrect: false
        };

        question.firstNum =
          Math.floor(
            Math.random() *
              this.gameStatus.levelSetting[this.gameStatus.level].range
                .firstNum[1]
          ) + 1;
        question.secondNum =
          Math.floor(
            Math.random() *
              this.gameStatus.levelSetting[this.gameStatus.level].range
                .secondNum[1]
          ) + 1;
        console.log(question);
        this.gameStatus.questions.push(question);
      }
    },
    isAllElementsUnique(elements) {
      return new Set(elements).size === elements.length;
    },
    isAllNumsInRange(nums, min, max) {
      return nums.filter(n => n >= min && n <= max).length === nums.length;
    },
    isInArray(t, a) {
      return a.indexOf(t) !== -1;
    },
    isAnswerInChoices(choices, questionIndex) {
      return this.isInArray(
        this.gameStatus.questions[questionIndex].firstNum *
          this.gameStatus.questions[questionIndex].secondNum,
        choices
      );
    },
    isAllChoicesUnique(choices) {
      return this.isAllElementsUnique(choices);
    },
    isAllChoicesInRange(choices) {
      return this.isAllNumsInRange(
        choices,
        this.gameStatus.levelSetting[this.gameStatus.level].range.firstNum[0] *
          this.gameStatus.levelSetting[this.gameStatus.level].range
            .secondNum[0],
        this.gameStatus.levelSetting[this.gameStatus.level].range.firstNum[1] *
          this.gameStatus.levelSetting[this.gameStatus.level].range.secondNum[1]
      );
    },
    generateChoices() {
      console.log("in gen choices");
      for (let i = 0; i < 10; i++) {
        const choices = [];
        console.log(i);
        const fakeFirstNumList = [
          this.gameStatus.questions[i].firstNum - 4,
          this.gameStatus.questions[i].firstNum - 2,
          this.gameStatus.questions[i].firstNum + 2,
          this.gameStatus.questions[i].firstNum + 4
        ];
        const fakeSecondNumList = [
          this.gameStatus.questions[i].secondNum - 4,
          this.gameStatus.questions[i].secondNum - 2,
          this.gameStatus.questions[i].secondNum + 2,
          this.gameStatus.questions[i].secondNum + 4
        ];

        while (true) {
          choices = [];
          for (let j = 0; j < 4; j++) {
            choices.push(
              fakeFirstNumList[Math.floor(Math.random() * 4)] *
                fakeSecondNumList[Math.floor(Math.random() * 4)]
            );
          }
          console.log("in while true");
          //out of range / same choices
          if (
            this.isAllChoicesUnique(choices) &&
            this.isAllChoicesInRange(choices)
          ) {
            if (!this.isAnswerInChoices(choices, i)) {
              const ans =
                this.gameStatus.questions[i].firstNum *
                this.gameStatus.questions[i].secondNum;

              choices[Math.floor(Math.random() * 4)] = ans;
            }
            this.gameStatus.questions[i].choices = choices;
            break;
          }
        }
      }
    },
    gameTimer(act) {
      if (act === "start") {
        this.gameStatus.timer = setInterval(() => {
          this.gameStatus.time--;
          if (this.gameStatus.time <= 0) {
            this.playerDie(this.gameStatus.gameoverReason.timeOver);
          }
        }, 1000);
      }
    },
    gotoNextQuestion() {
      //TODO: check for last question
      if (this.gameStatus.currentQuestionIndex < 9) {
        this.gameStatus.currentQuestionIndex++;
      } else {
        this.openResult(this.gameStatus.gameoverReason.finished);
      }
    },
    isCorrectAnswer(choice) {
      const ans =
        this.gameStatus.questions[this.gameStatus.currentQuestionIndex]
          .firstNum *
        this.gameStatus.questions[this.gameStatus.currentQuestionIndex]
          .secondNum;

      return choice === ans;
    },
    playerDie(reason) {
      this.openResult(reason);
    },
    submitChoice(choice) {
      this.playClickSound();
      if (this.isCorrectAnswer(choice)) {
        this.gameStatus.questions[
          this.gameStatus.currentQuestionIndex
        ].isCorrect = true;
      } else {
        this.gameStatus.hp--;
        this.gameStatus.questions[
          this.gameStatus.currentQuestionIndex
        ].isCorrect = false;
        if (this.gameStatus.hp <= 0) {
          this.playerDie(this.gameStatus.gameoverReason.noHP);
        }
      }
      this.gameStatus.questions[
        this.gameStatus.currentQuestionIndex
      ].isFinished = true;
      this.gotoNextQuestion();
    },
    changeBackground(level) {
      const newStyle = `url('../statics/images/wallpapers/${level}-wallpaper.jpg')`;

      console.log(newStyle);
      $(".GamePage").css("background", newStyle);
    },
    startGame(level) {
      this.playClickSound();
      console.log({ level });
      this.gameStatus.level = level;
      this.generateQuestions();
      this.generateChoices();
      this.showTab("gaming-tab"); // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! tab
      this.gameTimer("start");
      console.log(this.gameStatus.questions);
      this.changeBackground(level);
    },
    isHaveRecord() {
      const recordKeyName =
        "https://multiplication-ccc79.firebaseapp.com/:" +
        this.gameStatus.level +
        "LevelRecord";

      return localStorage.getItem(recordKeyName) !== null;
    },
    saveRecord() {
      const recordKeyName =
        "https://multiplication-ccc79.firebaseapp.com/:" +
        this.gameStatus.level +
        "LevelRecord";

      if (this.isHaveRecord()) {
        const pastRecord = JSON.parse(localStorage.getItem(recordKeyName));

        localStorage.setItem(
          recordKeyName,
          JSON.stringify({
            numOfTimes: pastRecord.numOfTimes + 1,
            score:
              (pastRecord.score * pastRecord.numOfTimes +
                this.gameStatus.score) /
              (pastRecord.numOfTimes + 1)
          })
        );
      } else {
        localStorage.setItem(
          recordKeyName,
          JSON.stringify({
            numOfTimes: 1,
            score: this.gameStatus.score
          })
        );
      }
    },
    openResult(gameoverReason) {
      clearInterval(this.gameStatus.timer);
      this.gameStatus.gameoverReason.current = gameoverReason;
      //score formula: 1hp 1s = 50 3hp >=100s = 100, lost one hp -> lost 10score
      if (this.gameStatus.time >= 100) {
        this.gameStatus.score = 100;
      } else {
        this.gameStatus.score = this.gameStatus.time;
      }
      this.gameStatus.score -= (3 - this.gameStatus.hp) * 10;
      if (
        gameoverReason === this.gameStatus.gameoverReason.noHP ||
        gameoverReason === this.gameStatus.gameoverReason.timeOver ||
        this.gameStatus.score < 0
      ) {
        this.gameStatus.score = 0;
      }
      this.gameStatus.isPass = this.gameStatus.score >= 50;

      this.showTab("result-tab");
      $(".GamePage").css(
        "background",
        `url('../statics/images/wallpapers/math-wallpaper.jpg')`
      );
      switch (this.gameStatus.gameoverReason.current) {
        case this.gameStatus.gameoverReason.finished:
          this.resultText = "遊戲結束";
          break;
        case this.gameStatus.gameoverReason.noHP:
          this.resultText = "生命值歸零";
          break;
        case this.gameStatus.gameoverReason.timeOver:
          this.resultText = "未完成遊戲";
          break;
        default:
          console.error("Game Over Reason Error");
      }
      this.saveRecord();
    },
    goBack() {
      this.playClickSound();
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push("/");
    }
  }
};
</script>