<template>
  <q-page class="PageIndex">
    <div class="row home-icon-row">
      <q-icon name="clear"
              size="50vw"
              color="positive" />
    </div>
    <div class="row app-name-row">
      <span class="app-name-label">乘法遊戲</span>
    </div>
    <div class="row">
      <q-btn color="secondary"
             text-color="white"
             icon="videogame_asset"
             label="遊戲"
             @click="gotoURL('game')" />
    </div>
    <div class="row">
      <q-btn color="secondary"
             text-color="white"
             icon="storage"
             label="記錄"
             @click="gotoURL('record')" />
    </div>
    <div class="row">
      <q-btn color="secondary"
             text-color="white"
             icon="table_chart"
             label="乘數表"
             @click="gotoURL('table')" />
    </div>
  </q-page>
</template>

<style lang="sass" scoped>
.PageIndex::after
  content: ""
  background: url("../statics/images/wallpapers/math-wallpaper.jpg")
  opacity: 0.5
  top: 0
  left: 0
  bottom: 0
  right: 0
  position: absolute
  z-index: -1
.row
  justify-content: center
.app-name-label
  color: #56ba47
  font-size: 3rem
  font-weight: 600
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
.q-btn
  width: 50%
  font-size: 1.5rem
  margin-bottom: 20px
</style>

<script>
export default {
  name: "PageIndex",
  methods: {
    playClickSound() {
      window.navigator.vibrate(50);
      new Audio("../statics/sounds/button_click.mp3").play();
    },
    gotoURL(url) {
      this.playClickSound();
      this.$router.push(url);
    },
    goBack() {
      this.playClickSound();
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push("/");
    },
    askForMobile() {
      const isAlreadyViewAlert =
        localStorage.getItem(
          "https://multiplication-ccc79.firebaseapp.com/:isAlreadyViewAlert"
        ) !== null;

      if (!isAlreadyViewAlert) {
        alert(
          "為更好使用，建議使用手機瀏覽。\nFor better view, recommend to use mobile."
        );
        localStorage.setItem(
          "https://multiplication-ccc79.firebaseapp.com/:isAlreadyViewAlert",
          true
        );
      }
    }
  },
  created() {
    this.askForMobile();
  }
};
</script>
