<template>
  <q-page class="RecordPage">
    <div class="row">
      <span class="title"
            :class="{'green-text': this.record.total.isPass, 'red-text': !this.record.total.isPass}">等級</span>
    </div>
    <div class="row">
      <span class="score-label total-score-label"
            :class="{'green-text': this.record.total.isPass, 'red-text': !this.record.total.isPass}">{{animateTotalScoreVal}}</span>
    </div>
    <div class="row">
      <span class="score-label easy-score-label"
            :class="{'green-text': this.record.easy.isPass, 'red-text': !this.record.easy.isPass}">😊 簡單 - 平均分：{{Math.floor(record.easy.score)}}</span>
    </div>
    <div class="row">
      <span class="score-label easy-score-label"
            :class="{'green-text': this.record.normal.isPass, 'red-text': !this.record.normal.isPass}">🤔 普通 - 平均分：{{Math.floor(record.normal.score)}}</span>
    </div>
    <div class="row">
      <span class="score-label easy-score-label"
            :class="{'green-text': this.record.hard.isPass, 'red-text': !this.record.hard.isPass}">👿 困難 - 平均分：{{Math.floor(record.hard.score)}}</span>
    </div>
    <div class="row">
      <q-btn class="goBackBtn"
             color="primary"
             icon="arrow_back"
             label="返回主頁"
             @click="goBack" />
    </div>
  </q-page>
</template>

<style lang="sass" scoped>
.RecordPage
  background-image: url("../statics/images/wallpapers/math-wallpaper.jpg")
.row
  justify-content: center
span
  width: 100vw
  text-align: center
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
.title
  font-size: 3rem
.score-label
  font-size: 2rem
.total-score-label
  font-size: 4rem
.green-text
  color: #56ba46
.red-text
  color: #c22c28
</style>

<script>
export default {
  name: "RecordPage",
  data() {
    return {
      animateTotalScoreVal: 0,
      record: {
        total: {
          numOfTimes: 0,
          score: 0,
          isPass: false
        },
        easy: {
          numOfTimes: 0,
          score: 0
        },
        normal: {
          numOfTimes: 0,
          score: 0
        },
        hard: {
          numOfTimes: 0,
          score: 0
        }
      }
    };
  },
  methods: {
    goBack() {
      this.playClickSound();
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push("/");
    },
    playClickSound() {
      window.navigator.vibrate(50);
      new Audio("../statics/sounds/button_click.mp3").play();
    },
    isHaveRecord(level) {
      const recordKeyName =
        "https://multiplication-ccc79.firebaseapp.com/:" +
        level +
        "LevelRecord";

      return localStorage.getItem(recordKeyName) !== null;
    },
    isHaveTotalRecord() {
      return this.record.total.numOfTimes !== 0;
    },
    getRecord() {
      const levelList = ["easy", "normal", "hard"];

      levelList.map(level => {
        const recordKeyName =
          "https://multiplication-ccc79.firebaseapp.com/:" +
          level +
          "LevelRecord";

        if (this.isHaveRecord(level)) {
          this.record[level] = {
            ...JSON.parse(localStorage.getItem(recordKeyName)),
            isPass: false
          };
          this.record[level].isPass = this.record[level].score >= 50;
        }
      });
      this.record.total.numOfTimes =
        this.record.easy.numOfTimes +
        this.record.normal.numOfTimes +
        this.record.hard.numOfTimes;
      this.record.total.score = Math.floor(
        (this.record.easy.numOfTimes * this.record.easy.score +
          this.record.normal.numOfTimes * this.record.normal.score +
          this.record.hard.numOfTimes * this.record.hard.score) /
          this.record.total.numOfTimes
      );
      this.record.total.isPass = this.record.total.score >= 50;
    },
    animateTotalScore() {
      if (this.isHaveTotalRecord() && this.record.total.score > 0) {
        const timer = setInterval(() => {
          this.animateTotalScoreVal++;
          if (this.animateTotalScoreVal === this.record.total.score) {
            clearInterval(timer);
          }
        }, 10);
      }
    }
  },
  created() {
    this.getRecord();
    this.animateTotalScore();
  }
};
</script>