<template>
  <q-page class="TablePage">
    <div class="multi-table">
      <div class="row">
        <div class="col num-box num-box-title"
             v-for="col in [0,1,2,3,4,5,6,7,8,9,10]"
             :key="col">
          <span>{{col}}</span>
        </div>
      </div>
      <div class="row"
           v-for="row in [1,2,3,4,5,6,7,8,9,10]"
           :key="row">
        <div class="col num-box num-box-index">
          <span>{{row}}</span>
        </div>
        <div class="col num-box"
             v-for="col in [1,2,3,4,5,6,7,8,9,10]"
             :key="col">
          <span>{{row * col}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <q-btn class="goBackBtn"
             color="primary"
             icon="arrow_back"
             label="返回主頁"
             @click="goBack" />
    </div>
  </q-page>
</template>

<style lang="sass" scoped>
.TablePage
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.multi-table
  width: 100vw
.num-box
  border-width: 1px
  border-style: solid
  border-color: #B2B2B2
  span
    display: block
    text-align: center
    font-size: 1.2rem
.num-box-title, .num-box-index
  background-color: #2075d2
  color: white
  font-weight: bold
.goBackBtn
  margin-top: 72px
</style>

<script>
export default {
  name: "TablePage",
  methods: {
    playClickSound() {
      window.navigator.vibrate(50);
      new Audio("../statics/sounds/button_click.mp3").play();
    },
    goBack() {
      this.playClickSound();
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push("/");
    }
  }
};
</script>
